name: Code Coverage

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:

  code-coverage:

    name: Code coverage

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - id: disable-man-db-updates
        name: Disable man-db updates
        run: |
          echo "set man-db/auto-update false" | sudo debconf-communicate
          sudo dpkg-reconfigure man-db

      - id: install-capnproto
        name: Install capnproto
        run: sudo apt-get install -y capnproto

      - name: Generate code coverage
        run: cargo llvm-cov --workspace --all-features --include-build-script --lcov --output-path lcov.info

      - name: Generate code coverage with no default features
        run: cargo llvm-cov --workspace --no-default-features --include-build-script --lcov --output-path lcov.info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true

